/* styles */


body .process {
    cursor: wait!important;
}

select[aria-label="В работе"] {
    background-color: var(--bs-primary-bg-subtle)!important;
}
select[aria-label="Отказ"] {
    background-color: var(--bs-danger-bg-subtle)!important;
}
select[aria-label="Сделка закрыта"] {
    background-color: var(--bs-success-bg-subtle)!important;
}

div .manager_login:hover {
    background-color: var(--bs-primary-bg-subtle)!important;
    cursor: pointer;
}

.toast {
    z-index: 99999;
}

#logout_link {
    text-decoration: none;
}

#manager_fio {
    margin-top: 80px;
}

