{% extends "index.html" %}

{% block header %}
<header class="header fixed-top bg-light text-body-tertiary text-center py-1">
    <h1 class="display-6">Error 404: Неверный путь..</h1>
</header>
{% endblock %}

{% block content %}
<div class="container flex-column d-flex justify-content-center align-items-center vh-100">
    <div class="col-4 mb-5">
        <img src="https://assets.dochipo.com/editor/animations/404-error/cd8704d1-9fdd-4b83-b405-5d9b649d351b.gif"
             title="500 Not Found"
        >
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}